<!-- critical scripts -->
<script src="{{ 'dist/assets/js/vendors/jquery-3.2.1.min.js'|theme }}"></script>
<script src="{{ 'dist/assets/js/vendors/bootstrap.bundle.min.js'|theme }}"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

{% framework extras %}
{% scripts %}

<!-- at the end of the BODY -->
{#<script type="text/javascript"> docsearch({
apiKey: '301ee8aad4c25bd27be6573ef84da49b',
indexName: 'mautic',
inputSelector: '### REPLACE ME ####',
algoliaOptions: { 'facetFilters': ["lang:$LANG"] },
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>#}

{# --charts-- #}
<link rel="stylesheet" href="{{ 'dist/assets/plugins/charts-c3/plugin.css'|theme }}">
<script src="{{ 'dist/assets/plugins/charts-c3/js/d3.v3.min.js'|theme }}"></script>
<script src="{{ 'dist/assets/plugins/charts-c3/js/c3.min.js'|theme }}"></script>

{#
--requirejs--
// this is commented because require.js interferes with other modules' loading.
// retool if the tabler dashboard scripts are needed
<script src="{{ 'dist/assets/js/require.min.js'|theme }}"></script>
<script>
	requirejs.config({
		baseUrl: '/themes/oc-theme-mautic-org/dist'
	});
</script>
#}
<script src="{{ 'dist/assets/js/dashboard.js'|theme }}"></script>
{#
<script src="{{ 'dist/assets/plugins/maps-google/plugin.js'|theme }}"></script>
<script src="{{ 'dist/assets/plugins/input-mask/plugin.js'|theme }}"></script>
#}

