[viewBag]
==
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent pl-0">
    <li class="breadcrumb-item"><a href="#">Community</a></li>
    <li class="breadcrumb-item"><a href="#">Find answers</a></li>
    <li class="breadcrumb-item active" aria-current="page">Current discussion</li>
  </ol>
</nav>