[viewBag]
==
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					{% partial 'navigation/nav-footer-links' %}
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-3 mt-lg-0">
				Made with <i class="fa fa-heart text-secondary"></i> by <a href="#">the Mautic Community Team</a>. Copyright © 2018. All rights reserved.
			</div>
			<div class="col-lg-6 mt-3 mt-lg-0 text-right">
				{{ this.theme.config.site.tagline }}
			</div>
		</div>
	</div>
</footer>