[viewBag]

[localePicker]
forceUrl = 0
==
<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" href="{{ 'home'|page }}" data-test="homenav">
				<img src="{{ 'dist/assets/images/logo_mautic_dark.svg'|theme }}" class="header-brand-img" alt="mautic logo">
			</a>
			<div class="d-flex order-lg-4 ml-auto">
				<form class="input-icon my-lg-0 d-none d-md-block">
					<input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
					<div class="input-icon-addon">
						<i class="fe fe-search"></i>
					</div>
				</form>
				<!-- language dropdown -->
				<div class="dropdown ml-2">
					{% component 'localePicker' %}
				</div>
				{% if user %}
					<!-- notifications
					<div class="dropdown d-none d-md-flex">
						<a class="nav-link icon" data-toggle="dropdown">
							<i class="fe fe-bell"></i>
							<span class="nav-unread"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
							<a href="#" class="dropdown-item d-flex">
								<span class="avatar mr-3 align-self-center"
									  style="background-image: url(demo/faces/male/41.jpg)"></span>
								<div>
									<strong>Nathan</strong> pushed new commit: Fix page load performance issue.
									<div class="small text-muted">10 minutes ago</div>
								</div>
							</a>
							<a href="#" class="dropdown-item d-flex">
								<span class="avatar mr-3 align-self-center"
									  style="background-image: url(demo/faces/female/1.jpg)"></span>
								<div>
									<strong>Alice</strong> started new task: Tabler UI design.
									<div class="small text-muted">1 hour ago</div>
								</div>
							</a>
							<a href="#" class="dropdown-item d-flex">
								<span class="avatar mr-3 align-self-center"
									  style="background-image: url(demo/faces/female/18.jpg)"></span>
								<div>
									<strong>Rose</strong> deployed new version of NodeJS REST Api V3
									<div class="small text-muted">2 hours ago</div>
								</div>
							</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item text-center">Mark all as read</a>
						</div>
					</div> -->
					<!-- user menu -->
					<div class="dropdown">
						<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" data-test="usernav-toggle">
							<span class="avatar" style="background-image: url({{ user.avatarThumb(50) }})"></span>
							<span class="ml-2 d-none d-lg-block">
							<span class="text-gray-dark" data-test="user-name">{{ user.name }} </span>
							<small class="text-muted d-block mt-1">{{ user.surname }}</small>
						</span>
						</a>

						<!-- user menu content -->
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
							{% partial 'navigation/nav-user' %}
						</div>
					</div>
				{% else %}
					<div class="nav-item d-md-flex pr-0">
						<a href="{{ 'mauticians/login'|page() }}" class="btn btn-brand-purple">Login</a>
					</div>
				{% endif %}
			</div>
			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg order-lg-first">
				<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
					{% partial 'navigation/nav-top' %}
				</ul>
			</div>
			<div class="col-lg-2 ml-auto text-right d-none d-lg-block">
				<a href="download" class="btn btn-outline-brand-purple"><i class="fe fe-download-cloud mr-2"></i> Download</a>
			</div>
		</div>
	</div>
</div>
