==
{% if not user %}
	<div class="row">
		<div class="col col-login mx-auto">
			<div class="text-center mb-6">
			</div>

			<form class="card" data-request="onSignin">
				<div class="card-body p-6">
					<div class="card-title">Login to your account</div>

					<div class="form-group">
						<label class="form-label" for="userSigninLogin">Username</label>
						<input name="login" type="text" class="form-control" id="userSigninLogin" aria-describedby="emailHelp" placeholder="Enter your {{ loginAttributeLabel|lower }}">
					</div>

					<div class="form-group">
						<label class="form-label" for="userSigninPassword">
							Password
							<a href="{{ 'account/reset'|page }}" class="float-right small">Password Reminder</a>
						</label>
						<input name="password" type="password" class="form-control" id="userSigninPassword" placeholder="Password">
					</div>

					<div class="form-group">
						<label class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-label">Remember me</span>
						</label>
					</div>
					<div class="form-footer">
						<button type="submit" class="btn btn-brand-purple btn-block">Sign in</button>
					</div>
				</div>
			</form>
			<div class="text-center text-muted">
				Don't have account yet? <a href="{{ 'account/register'|page() }}">Register</a>
			</div>
		</div>
	</div>
{% else %}

	{% partial __SELF__ ~ '::activation_check' %}

	{% partial __SELF__ ~ '::update' %}

	{% partial __SELF__ ~ '::deactivate_link' %}

{% endif %}
