[viewBag]
==
<a href="https://github.com/mautic/mautic" class="btn btn-block btn-brand-purple mb-6">
	<i class="mr-2 fe fe-github"></i>Browse source code
</a>

<div class="list-group list-group-transparent mb-0">
	<a href="{{ 'content/requirements'|page() }}" class="list-group-item list-group-item-action "><span class="icon mr-3"><i
				class="fe fe-check-circle"></i></span>Server Requirements</a>
	<a href="{{ 'content/licensing'|page() }}" class="list-group-item list-group-item-action "><span class="icon mr-3"><i
				class="fe fe-file-text"></i></span>Licensing
	</a>
</div>