==
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Navigation</h3>
	</div>
	<div class="card-body p-0">
		<div class="list-group list-group-transparent mb-0">
			<a href="{{ 'mauticamps/mauticamp-single'|page({groupslug:group.slug}) }}" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-home"></i></span>Home
			</a>
			<a href="{{ 'mauticamps/mauticamp-forum'|page({groupslug:group.slug}) }}" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-at-sign"></i></span>Meeting Notes
			</a>
			<a href="{{ 'mauticamps/mauticamp-members'|page({groupslug:group.slug}) }}" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-users"></i></span>Mauticians
			</a>
		</div>
	</div>
</div>

{#<div class="card p-3">
	<div class="d-flex align-items-center">
		#}{#
		- container class.
		base: stamp stamp-md mr-3
		- icon class
		base: fe

		- title
		- subtext

		- anchor href

		#}{#


		<span class="stamp stamp-md mr-3 bg-brand-purple">
		  <i class="fe fe-calendar"></i>
		</span>
		<div>
			<h4 class="m-0"><a href="javascript:void(0)">Next
					<small>Meeting</small>
				</a></h4>
			<small class="text-muted">July 14, 2:00PM GMT</small>
		</div>
	</div>
</div>
<div class="card p-3">
	<div class="d-flex align-items-center">
    <span class="stamp stamp-md bg-brand-dark mr-3">
      <i class="fe fe-slack"></i>
    </span>
		<div>
			<h4 class="m-0"><a href="javascript:void(0)">Slack
					<small>Channel</small>
				</a></h4>
			<small class="text-muted">#{{ group.slug }}</small>
		</div>
	</div>
</div>#}
