==
{% set posts = __SELF__.posts %}

<div class="page-header d-block text-center mt-5">
	<h1 class="p-5">Are you interested in the technical side of Mautic?</h1>
</div>
<div class="row">
	{% for post in posts|slice(0,3) %}
		<div class="col col-lg-6">
			<div class="card card-aside">
				<a href="{{ post.url }}" class="card-aside-column my-auto"><img src="{{ post.featured_images[0].getPath() }}" class="mx-auto d-block"/></a>
				<div class="card-body d-flex flex-column">
					<h4><a class="card-link" href="{{ post.url }}">{{ post.title }}</a></h4>
					<div class="text-muted">{{ post.excerpt }}</div>
					<div class="d-flex align-items-center pt-5 mt-auto">
						{% if post.categories.count %} <strong>Category</strong>:  {% endif %}
						{% for category in post.categories %}
							<a class="card-link ml-1" href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}
						<div class="ml-auto">
							<small class="d-block text-muted"><i class="fe fe-clock mr-1"></i>3 hours</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="col col-lg-6 d-flex">
		<div class="d-flex align-items-center mx-auto">
			<h3><a href="#" class='text-muted card-link'>More Coming Soon ...</a></h3>
		</div>
	</div>
</div>

{% if posts.lastPage > 1 %}
	<ul class="pagination">
		{% if posts.currentPage > 1 %}
			<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
		{% endif %}

		{% for page in 1..posts.lastPage %}
			<li class="{{ posts.currentPage == page ? 'active' : null }}">
				<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
			</li>
		{% endfor %}

		{% if posts.lastPage > posts.currentPage %}
			<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
		{% endif %}
	</ul>
{% endif %}


<div class="row">
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
				<span class="icon mr-3"><i class="fe fe-git-merge"></i></span>Code
			</a>
			<a href="https://twitter.com/mauticCommunity" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-github"></i></span>GitHub Repositories
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-book-open"></i></span>API Documentation
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-cpu"></i></span>Mixin Development
			</a>
		</div>
	</div>
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
				<span class="icon mr-3"><i class="fe fe-life-buoy"></i></span>Getting Help
			</a>
			<a href="{{ 'forum/channel'|page({ slug: 'development'}) }}" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-bookmark"></i></span>Developer Forums
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-slack"></i></span>Slack Channels
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-user"></i></span>Mauticians
			</a>
		</div>
	</div>
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
				<span class="icon mr-3"><i class="fe fe-copy"></i></span>General Information
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-database"></i></span>Server Requirements<span class="ml-auto badge badge-dark">LAMP/WAMP+</span>
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-clock"></i></span>Previous Releases<span class="ml-auto badge badge-dark">35</span>
			</a>
			<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
				<span class="icon mr-3"><i class="fe fe-file-text"></i></span>Licensing<span class="ml-auto badge badge-dark">MIT</span>
			</a>

		</div>
	</div>
</div>
