==

{% import 'macros/user' as usermacros %}

<div class="card card-aside">
	<a href="#" class="card-aside-column" style="background-image: url({{ download.package_icon.getPath() }})"></a>
	<div class="card-body d-flex flex-column">
		<h1>
			<a href="{{ 'marketplace/single'|page({slug:download.slug}) }}" class="card-link">{{ extension.name }}</a></span></a>
		</h1>
		<div class="text-muted">{{ extension.shortDescription }}</div>
		<div class="tags">
			{% if(download.tags|length) %}
				{% for tag in download.tags %}
					<span class="tag tag-rounded">{{ tag.label }} <span class="small">[{{ tag.slug }}]</span></span>
				{% endfor %}
			{% else %}
				No Tags
			{% endif %}
		</div>
		<div class="d-flex align-items-center pt-5 mb-auto">

			{{ usermacros.getDisplayAvatar(download.user, "avatar-md mr-3", 64) }}

			<div>
				<a href="{{ 'mauticians/profile-single'|page({user:download.user.username}) }}"
				   class="text-default">{{ download.user.name ~ ' ' ~ download.user.surname }}</a>
				<small class="d-block text-muted">Uploaded {{ download.created_at|date('Y/m/d') }} | Last
					Updated {{ download.updated_at|date('Y/m/d') }}</small>
			</div>
			<div class="ml-auto">
				<a href="{{ download.package_file.getPath() }}" class="btn btn-brand-purple"><i
						class="fe fe-download"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	{% set release = extension.allReleases|slice(0,1)[0] %}
	{# latest release #}
	<div class="col-12">
		<div class="card">
			<div class="card-header">
			     <div class="card-options text-muted small">
			        Released {{ release.published|date("m/d/Y") }}
			     </div>
				<h3 class="card-title">{{ release.name }} <span class="small text-muted">Latest Stable Release</span></h4>
			</div>
			<div class="card-body">
				<div>
					{{ release.content_md|md }}
    				<div>
                        <div class="alert alert-primary mt-5">
        					<span class="font-weight-bold pr-2">{{'Mixin Source Code'|_}}: </span>
        					{% for type, download in release.source %}
        						<a href="{{download}}" target="_blank" class="tag tag-primary">{{release.name}}.{{ type }}</a>
        					{% endfor %}
        				</div>
    				</div>
				</div>
			</div>
		</div>
	</div>
</div>


{# legacy #}
{#  <span class="small"><a href="{{ extension.projectHomeUrl }}" target="_blank">[{{ extension.fullName }}] #}
{# <span class="small">forks: {{ extension.stats.forks }} / issues: {{ extension.stats.open_issues }} / watchers: {{ extension.stats.watchers }}</span> #}
{# <h5>Downloads</h5>
{% for download in release.assets %}
						<span><a href="{{ download.downloadUri }}">{{ download.name }}</a></span> <br>
					{% endfor %} #}
{#<div class="card card-aside">
	<a href="#" class="card-aside-column" style="background-image: url({{ download.package_icon.getPath() }})"></a>
	<div class="card-body d-flex flex-column">
		<h4><a href="{{ 'marketplace/single'|page({slug:download.slug}) }}">{{ download.type.label }}: {{ download.name }} <span class="small">[{{ download.slug }}]</span></a>
		</h4>
		<div class="text-muted">{{ download.description }}</div>
		<div class="tags">
			{% if(download.tags|length) %}
				{% for tag in download.tags %}
					<span class="tag tag-rounded">{{ tag.label }} <span class="small">[{{ tag.slug }}]</span></span>
				{% endfor %}
			{% else %}
				No Tags
			{% endif %}
		</div>
		<div class="d-flex align-items-center pt-5 mt-auto">
			<div class="avatar avatar-md mr-3"
				 style="background-image: url({{ download.user.avatar.getPath() }})"></div>
			<div>
				<a href="{{ 'mauticians/profile-single'|page({user:download.user.username}) }}"
				   class="text-default">{{ download.user.name ~ ' ' ~ download.user.surname }}</a>
				<small class="d-block text-muted">Uploaded {{ download.created_at|date('Y/m/d') }} | Last
					Updated {{ download.updated_at|date('Y/m/d') }}</small>
			</div>
			<div class="ml-auto text-red">
				<a href="{{ download.package_file.getPath() }}" class="icon d-none d-md-inline-block ml-3"><i
						class="fe fe-download mr-1"></i></a>
			</div>
		</div>
	</div>
</div>#}
