title = "Community"
url = "/content/community"
layout = "blank"
meta_title = "Community"
meta_description = "Community"
==
{% put pageHeader %}Community{% endput %}

<div class="row">
	<p class="lead col-12">There are so many exciting ways to get involved with the Mautic community. Want to find other Mauticians to hang out with, find someone to help with a project, or find a mixin to extend your Mautic platform? Then take a look at the links below.</p>
	<div class="col">
		<div class="card">
			<div class="card-status bg-brand-purple"></div>
			<div class="card-body text-center">
				<h3 class="card-title">Mauticians</h3>
				<p>Check out this area if you are interested in the many amazing volunteers that make up the Mautic community. If you have a specific need, the Mauticians directory is the perfect place to find a developer or other individual capable of helping you.</p>
				<p><a class="btn btn-outline-brand-purple" href="{{ 'mauticians/profile-list'|page }}">View Mauticians</a></p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-status bg-brand-purple"></div>
			<div class="card-body text-center">
				<h3 class="card-title">MautiCamps</h3>
				<p>Everything’s better with friends and with a MautiCamp you can find others that share your love for Mautic. Local MautiCamps are your opportunity to learn more about all you can do with open source marketing automation. Find one near you.</p>
				<p><a class="btn btn-outline-brand-purple" href="{{ 'mauticamps/mauticamp-list'|page }}">Browse MautiCamps</a></p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-status bg-brand-purple"></div>
			<div class="card-body text-center">
				<h3 class="card-title">Marketplace</h3>
				<p>Mautic offers a truly unique marketing platform complete with a marketplace for you to find additional mixins ready to be installed in your Mautic. Search for your favorite 3rd party integration or extend core functionality through a mixin.</p>
				<p><a class="btn btn-outline-brand-purple" href="{{ 'marketplace/listing'|page }}">Extend Mautic</a></p>
			</div>
		</div>
	</div>
</div>
