title = "Groups"
url = "/working-groups/:groupslug"
layout = "sidebar-left"
is_hidden = 0
child_of = "working-groups/group-list"
hide_crumb = 0
remove_crumb_trail = 0
crumbElementTitle = "group-title"
crumb_disabled = 0

[viewBag]
localeUrl[de] = "/working-group"
localeUrl[fr] = "/working-group"
localeUrl[pgl] = "/working-group"
localeUrl[pt-br] = "/working-group"
localeUrl[jp] = "/working-group"

[usergroup working_group]
slug = "{{ :groupslug }}"
==
<?php
function onEnd()
{
	if($this['group']){
		$this->page->title = $this['group']->name;
}
}
?>
==
{% import 'macros/user' as usermacros %}

{% if group %}
	{# title
	{% put pageBanner %}
		{{ group.name }}
	{% endput %} #}

	{# default sidebar #}
	{% put sidebar %}
	{% partial 'sidebars/working_group' %}
	{% endput %}

	{# leaders sidebar #}
	{% put sidebar %}
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Group Leaders</h3>
			</div>
			<div class="card-body">
				<a href="{{ ''|page() }}" class="">
					<div class="avatar" style="background-image: url(demo/faces/male/20.jpg)"><span class="avatar-status bg-green"></span></div>
				</a>
				<a href="{{ ''|page() }}" class="p-4">
					<div class="avatar" style="background-image: url(demo/faces/male/20.jpg)"><span class="avatar-status bg-green"></span></div>
				</a>
			</div>
		</div>
	{% endput %}

	{# sidebar slots #}
	{% if group.sidebar_slots|length %}
		{% put sidebar_slots %}
			{% for slot in group.sidebar_slots %}
				<div class="card p-3">
					<div class="d-flex align-items-center">
						<span class="stamp stamp-md mr-3 {{ slot.container_styles }}">
						  <i class="fe {{ slot.icon_class }}"></i>
						</span>
						<div>
							{# @todo in the mock below, the last word of h4>a is wrapped with small. This looks nice. use some crafy twig to make it happen  #}
							<h4 class="m-0">
								<a href="{{ slot.link_target|default('javascript:void(0)') }}">{{ slot.title }}</a>
							</h4>
							{#<h4 class="m-0">
								<a href="javascript:void(0)">Slack
									<small>Channel</small>
								</a>
							</h4>#}
							<small class="text-muted">{{ slot.subtext }}</small>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endput %}
	{% endif %}

	{# header card #}
	<div class="card">
		<div class="card-status bg-brand-purple"></div>
		<div class="card-header">
			<h3 class="card-title" id="group-title"><span class="fe {{ group.group_icon }} mr-2"></span>{{ group.name }}</h3>
		</div>

		{% if group.notices|length %}
			{% for notice in group.notices %}
				<div class="card-alert alert mb-0 small alert-{{ notice.color_class|default('success') }}">
					<a
						href="{{ notice.link_target|default('javascript:void(0)') }}"
						class="btn btn-sm float-right btn-{{ notice.color_class|default('success') }}">
						{{ notice.button_text }}
					</a>
					{{ notice.title }}
				</div>
			{% endfor %}
		{% endif %}

		<div class="card-body">
			{{ group.homepage_content_html ? group.homepage_content|raw : group.description|raw }}
		</div>
		<div class="card-footer">
			{% if user %}
				{% if user.isInGroup(group) %}
					<button
						data-request="onRemoveSelf"
						data-request-data="groupid: {{ group.id }}"
						class="btn btn-outline-brand-purple btn-sm">
						<span class="fe fe-arrow-right-circle"></span> Leave this Group
					</button>
				{% else %}
					<button
						data-request="onAddSelf"
						data-request-data="groupid: {{ group.id }}"
						class="btn btn-outline-brand-purple btn-sm">
						<span class="fe fe-arrow-right-circle"></span> Join
					</button>
				{% endif %}
			{% else %}
				<button class="btn btn-outline-brand-purple btn-sm">Sign-In to Join this group</button>
			{% endif %}
		</div>
	</div>
	<div class="row">
		{% if group.forum_channel %}
			<div class="col">
				<div class="card">
					<div class="card-header">
						<div class="card-options">
							<a href="{{ 'mauticamps/mauticamp-forum'|page({groupslug:group.slug}) }}" class="btn btn-secondary btn-sm">View all</a>
						</div>
						<h3 class="card-title">Past Meeting Notes</h3>
					</div>
					<table class="table card-table">
						<tbody>
						{% for topic in group.recentTopics|slice(0,16) %}
							<tr>
								<td><i class="fe fe-bookmark text-muted"></i></td>
								<td>{{ topic.subject|raw }}</td>
								<td class="text-right"><span class="text-muted small">{{ topic.last_post_at.diffForHumans() }}</span></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
	</div>
{% else %}
	<h3>Couldn't find that group</h3>
{% endif %}
