title = "Working Group Leader Application"
url = "/working-groups/:groupslug/application"
layout = "sidebar-right"
meta_title = "Working Group Leadership Application"
is_hidden = 0
child_of = "working-groups/group-list"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[de] = "/working-group-leader-application"
localeUrl[fr] = "/working-group-leader-application"
localeUrl[pgl] = "/working-group-leader-application"
localeUrl[pt-br] = "/working-group-leader-application"
localeUrl[jp] = "/working-group-leader-application"
==
<div class="card">
    <div class="card-body">
        <div class="text-wrap p-lg-6 pt-0">
            <div class="content">
                <h1 id="page-title" class="page-title mt-0 pb-6">Working Group Leadership Application</h1>
                
                
            
<div id="mauticform_wrapper_mauticworkgroupleadershipnomination" class="mauticform_wrapper">
    <form autocomplete="false" role="form" method="post" action="https://m.mautic.org/form/submit?formId=52" id="mauticform_mauticworkgroupleadershipnomination"  data-mautic-form="mauticworkgroupleadershipnomination" enctype="multipart/form-data">
        <div class="mauticform-error" id="mauticform_mauticworkgroupleadershipnomination_error"></div>
        <div class="mauticform-message" id="mauticform_mauticworkgroupleadershipnomination_message"></div>
        <div class="mauticform-innerform">

            
          <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

            <div id="mauticform_mauticworkgroupleadershipnomination_leadership_role1"  class="selectgroup mauticform-radiogrp mauticform-field-1">
                <label  class="form-label" for="mauticform_radiogrp_radio_leadership_role1_PrimaryTeamLead1">Leadership Role</label>
                <div class="mauticform-radiogrp-row">
                    <label id="mauticform_radiogrp_label_leadership_role1_primary0" for="mauticform_radiogrp_radio_leadership_role1_primary0"  class="selectgroup-item">
                        <input  name="mauticform[leadership_role1]" class="selectgroup-input" name="mauticform[leadership_role1]" id="mauticform_radiogrp_radio_leadership_role1_primary0" type="radio" value="primary" />
                        <span class="selectgroup-button">Primary Team Lead</span>
                    </label>
                </div>
                <div class="mauticform-radiogrp-row">
                    <label id="mauticform_radiogrp_label_leadership_role1_assistant1" for="mauticform_radiogrp_radio_leadership_role1_assistant1"  class="selectgroup-item">
                        <input  name="mauticform[leadership_role1]" class="selectgroup-input" name="mauticform[leadership_role1]" id="mauticform_radiogrp_radio_leadership_role1_assistant1" type="radio" value="assistant" />
                        <span class="selectgroup-button">Assistant Team Lead</span>
                    </label>
                </div>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_first_name"  class="form-group mauticform-text mauticform-field-2">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_first_name" for="mauticform_input_mauticworkgroupleadershipnomination_first_name" class="form-label">First Name</label>
                <input id="mauticform_input_mauticworkgroupleadershipnomination_first_name" name="mauticform[first_name]" value="" class="form-control" type="text" />
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_last_name"  class="form-group mauticform-text mauticform-field-3">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_last_name" for="mauticform_input_mauticworkgroupleadershipnomination_last_name" class="form-label">Last Name</label>
            
                <input id="mauticform_input_mauticworkgroupleadershipnomination_last_name" name="mauticform[last_name]" value="" class="form-control" type="text" />
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_email_address"  class="form-group mauticform-email mauticform-field-4">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_email_address" for="mauticform_input_mauticworkgroupleadershipnomination_email_address" class="form-label">Email Address</label>
                
                <input id="mauticform_input_mauticworkgroupleadershipnomination_email_address" name="mauticform[email_address]" value="" class="form-control" type="email" />
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_other_contact_information"  class="form-group mauticform-text mauticform-field-5">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_other_contact_information" for="mauticform_input_mauticworkgroupleadershipnomination_other_contact_information" class="form-label">Other Contact Information</label>
                <span class="mauticform-helpmessage">Please enter other online identities, (e.g. Slack handle, Forum username, etc...)</span>
                <textarea id="mauticform_input_mauticworkgroupleadershipnomination_other_contact_information" name="mauticform[other_contact_information]" class="mauticform-textarea"></textarea>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_country"  class="form-group mauticform-select mauticform-field-6">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_country" for="mauticform_input_mauticworkgroupleadershipnomination_country" class="form-label">Country</label>
                
                <select id="mauticform_input_mauticworkgroupleadershipnomination_country" name="mauticform[country]" value="" class="mauticform-selectbox">
                    <option value=""></option>                    <option value="Afghanistan">Afghanistan</option>                    <option value="Albania">Albania</option>                    <option value="Algeria">Algeria</option>                    <option value="Andorra">Andorra</option>                    <option value="Angola">Angola</option>                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>                    <option value="Argentina">Argentina</option>                    <option value="Armenia">Armenia</option>                    <option value="Australia">Australia</option>                    <option value="Austria">Austria</option>                    <option value="Azerbaijan">Azerbaijan</option>                    <option value="Bahamas">Bahamas</option>                    <option value="Bahrain">Bahrain</option>                    <option value="Bangladesh">Bangladesh</option>                    <option value="Barbados">Barbados</option>                    <option value="Belarus">Belarus</option>                    <option value="Belgium">Belgium</option>                    <option value="Belize">Belize</option>                    <option value="Benin">Benin</option>                    <option value="Bhutan">Bhutan</option>                    <option value="Bolivia">Bolivia</option>                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>                    <option value="Botswana">Botswana</option>                    <option value="Brazil">Brazil</option>                    <option value="Brunei">Brunei</option>                    <option value="Bulgaria">Bulgaria</option>                    <option value="Burkina Faso">Burkina Faso</option>                    <option value="Burundi">Burundi</option>                    <option value="Cape Verde">Cape Verde</option>                    <option value="Cambodia">Cambodia</option>                    <option value="Cameroon">Cameroon</option>                    <option value="Canada">Canada</option>                    <option value="Central African Republic">Central African Republic</option>                    <option value="Chad">Chad</option>                    <option value="Chile">Chile</option>                    <option value="China">China</option>                    <option value="Colombia">Colombia</option>                    <option value="Comoros">Comoros</option>                    <option value="Republic of the Congo">Republic of the Congo</option>                    <option value="Costa Rica">Costa Rica</option>                    <option value="Croatia">Croatia</option>                    <option value="Cuba">Cuba</option>                    <option value="Cyprus">Cyprus</option>                    <option value="Czech Republic">Czech Republic</option>                    <option value="Denmark">Denmark</option>                    <option value="Djibouti">Djibouti</option>                    <option value="Dominica">Dominica</option>                    <option value="Dominican Republic">Dominican Republic</option>                    <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>                    <option value="East Timor">East Timor</option>                    <option value="Ecuador">Ecuador</option>                    <option value="Egypt">Egypt</option>                    <option value="El Salvador">El Salvador</option>                    <option value="Equatorial Guinea">Equatorial Guinea</option>                    <option value="Eritrea">Eritrea</option>                    <option value="Estonia">Estonia</option>                    <option value="Ethiopia">Ethiopia</option>                    <option value="Fiji">Fiji</option>                    <option value="Finland">Finland</option>                    <option value="France">France</option>                    <option value="Gabon">Gabon</option>                    <option value="Gambia">Gambia</option>                    <option value="Georgia">Georgia</option>                    <option value="Germany">Germany</option>                    <option value="Ghana">Ghana</option>                    <option value="Greece">Greece</option>                    <option value="Grenada">Grenada</option>                    <option value="Guatemala">Guatemala</option>                    <option value="Guinea">Guinea</option>                    <option value="Guinea Bissau">Guinea Bissau</option>                    <option value="Guyana">Guyana</option>                    <option value="Haiti">Haiti</option>                    <option value="Holy See">Holy See</option>                    <option value="Honduras">Honduras</option>                    <option value="Hungary">Hungary</option>                    <option value="Iceland">Iceland</option>                    <option value="India">India</option>                    <option value="Indonesia">Indonesia</option>                    <option value="Iran">Iran</option>                    <option value="Iraq">Iraq</option>                    <option value="Ireland">Ireland</option>                    <option value="Israel">Israel</option>                    <option value="Italy">Italy</option>                    <option value="Ivory Coast">Ivory Coast</option>                    <option value="Jamaica">Jamaica</option>                    <option value="Japan">Japan</option>                    <option value="Jordan">Jordan</option>                    <option value="Kazakhstan">Kazakhstan</option>                    <option value="Kenya">Kenya</option>                    <option value="Kiribati">Kiribati</option>                    <option value="Kuwait">Kuwait</option>                    <option value="Kyrgyzstan">Kyrgyzstan</option>                    <option value="Laos">Laos</option>                    <option value="Latvia">Latvia</option>                    <option value="Lebanon">Lebanon</option>                    <option value="Lesotho">Lesotho</option>                    <option value="Liberia">Liberia</option>                    <option value="Libya">Libya</option>                    <option value="Liechtenstein">Liechtenstein</option>                    <option value="Lithuania">Lithuania</option>                    <option value="Luxembourg">Luxembourg</option>                    <option value="Madagascar">Madagascar</option>                    <option value="Malawi">Malawi</option>                    <option value="Malaysia">Malaysia</option>                    <option value="Maldives">Maldives</option>                    <option value="Mali">Mali</option>                    <option value="Malta">Malta</option>                    <option value="Marshall Islands">Marshall Islands</option>                    <option value="Mauritania">Mauritania</option>                    <option value="Mauritius">Mauritius</option>                    <option value="Mexico">Mexico</option>                    <option value="Micronesia">Micronesia</option>                    <option value="Moldova">Moldova</option>                    <option value="Monaco">Monaco</option>                    <option value="Mongolia">Mongolia</option>                    <option value="Montenegro">Montenegro</option>                    <option value="Morocco">Morocco</option>                    <option value="Mozambique">Mozambique</option>                    <option value="Myanmar">Myanmar</option>                    <option value="Namibia">Namibia</option>                    <option value="Nauru">Nauru</option>                    <option value="Nepal">Nepal</option>                    <option value="Netherlands">Netherlands</option>                    <option value="New Zealand">New Zealand</option>                    <option value="Nicaragua">Nicaragua</option>                    <option value="Niger">Niger</option>                    <option value="Nigeria">Nigeria</option>                    <option value="North Korea">North Korea</option>                    <option value="Norway">Norway</option>                    <option value="Oman">Oman</option>                    <option value="Pakistan">Pakistan</option>                    <option value="Palau">Palau</option>                    <option value="Panama">Panama</option>                    <option value="Papua New Guinea">Papua New Guinea</option>                    <option value="Paraguay">Paraguay</option>                    <option value="Peru">Peru</option>                    <option value="Philippines">Philippines</option>                    <option value="Poland">Poland</option>                    <option value="Portugal">Portugal</option>                    <option value="Qatar">Qatar</option>                    <option value="Romania">Romania</option>                    <option value="Russia">Russia</option>                    <option value="Rwanda">Rwanda</option>                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>                    <option value="Saint Lucia">Saint Lucia</option>                    <option value="Samoa">Samoa</option>                    <option value="San Marino">San Marino</option>                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>                    <option value="Saudi Arabia">Saudi Arabia</option>                    <option value="Senegal">Senegal</option>                    <option value="Serbia">Serbia</option>                    <option value="Seychelles">Seychelles</option>                    <option value="Sierra Leone">Sierra Leone</option>                    <option value="Singapore">Singapore</option>                    <option value="Slovakia">Slovakia</option>                    <option value="Slovenia">Slovenia</option>                    <option value="Solomon Islands">Solomon Islands</option>                    <option value="Somalia">Somalia</option>                    <option value="South Africa">South Africa</option>                    <option value="South Korea">South Korea</option>                    <option value="South Sudan">South Sudan</option>                    <option value="Spain">Spain</option>                    <option value="Sri Lanka">Sri Lanka</option>                    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>                    <option value="Palestine">Palestine</option>                    <option value="Sudan">Sudan</option>                    <option value="Suriname">Suriname</option>                    <option value="Swaziland">Swaziland</option>                    <option value="Sweden">Sweden</option>                    <option value="Switzerland">Switzerland</option>                    <option value="Syria">Syria</option>                    <option value="Taiwan">Taiwan</option>                    <option value="Tajikistan">Tajikistan</option>                    <option value="Tanzania">Tanzania</option>                    <option value="Macedonia">Macedonia</option>                    <option value="Thailand">Thailand</option>                    <option value="Togo">Togo</option>                    <option value="Tonga">Tonga</option>                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>                    <option value="Tunisia">Tunisia</option>                    <option value="Turkey">Turkey</option>                    <option value="Turkmenistan">Turkmenistan</option>                    <option value="Tuvalu">Tuvalu</option>                    <option value="United Kingdom">United Kingdom</option>                    <option value="United States">United States</option>                    <option value="Unknown">Unknown</option>                    <option value="Uganda">Uganda</option>                    <option value="Ukraine">Ukraine</option>                    <option value="United Arab Emirates">United Arab Emirates</option>                    <option value="Uruguay">Uruguay</option>                    <option value="Uzbekistan">Uzbekistan</option>                    <option value="Vanuatu">Vanuatu</option>                    <option value="Venezuela">Venezuela</option>                    <option value="Vietnam">Vietnam</option>                    <option value="Yemen">Yemen</option>                    <option value="Zambia">Zambia</option>                    <option value="Zimbabwe">Zimbabwe</option>
                </select>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_languages_spoken"  class="form-group mauticform-text mauticform-field-7">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_languages_spoken" for="mauticform_input_mauticworkgroupleadershipnomination_languages_spoken" class="form-label">Languages Spoken</label>
                
                <textarea id="mauticform_input_mauticworkgroupleadershipnomination_languages_spoken" name="mauticform[languages_spoken]" class="mauticform-textarea"></textarea>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_previous_contributions_to"  class="form-group mauticform-text mauticform-field-8">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_previous_contributions_to" for="mauticform_input_mauticworkgroupleadershipnomination_previous_contributions_to" class="form-label">Previous Contributions to Mautic</label>
                <span class="mauticform-helpmessage">Please list the ways in which you have contributed to the Mautic community (including any local Mauticamps)</span>
                <textarea id="mauticform_input_mauticworkgroupleadershipnomination_previous_contributions_to" name="mauticform[previous_contributions_to]" class="mauticform-textarea"></textarea>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_what_would_the_nominee_co"  class="form-group mauticform-text mauticform-field-9">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_what_would_the_nominee_co" for="mauticform_input_mauticworkgroupleadershipnomination_what_would_the_nominee_co" class="form-label">What would you contribute as a working group leader</label>
                <span class="mauticform-helpmessage">Please explain why you believe you are a good fit for the role of a working group primary or assistant team leader.</span>
                <textarea id="mauticform_input_mauticworkgroupleadershipnomination_what_would_the_nominee_co" name="mauticform[what_would_the_nominee_co]" class="mauticform-textarea"></textarea>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

            <div id="mauticform_mauticworkgroupleadershipnomination_additional_information"  class="form-group mauticform-text mauticform-field-10">
                <label id="mauticform_label_mauticworkgroupleadershipnomination_additional_information" for="mauticform_input_mauticworkgroupleadershipnomination_additional_information" class="form-label">Additional Information</label>
                <span class="mauticform-helpmessage">Please list any other information about yourself which might be helpful.</span>
                <textarea id="mauticform_input_mauticworkgroupleadershipnomination_additional_information" name="mauticform[additional_information]" class="mauticform-textarea"></textarea>
                <span class="mauticform-errormsg" style="display: none;"></span>
            </div>

                <input id="mauticform_input_mauticworkgroupleadershipnomination_working_group" name="mauticform[working_group]" value="" class="mauticform-hidden" type="hidden" />
            <div id="mauticform_mauticworkgroupleadershipnomination_submit"  class="form-group mauticform-button-wrapper mauticform-field-12">
                <button type="submit" name="mauticform[submit]" id="mauticform_input_mauticworkgroupleadershipnomination_submit" name="mauticform[submit]" value="" class="mauticform-button btn btn-default" value="1">Submit</button>
            </div>
            </div>
        </div>

        <input type="hidden" name="mauticform[formId]" id="mauticform_mauticworkgroupleadershipnomination_id" value="52"/>
        <input type="hidden" name="mauticform[return]" id="mauticform_mauticworkgroupleadershipnomination_return" value=""/>
        <input type="hidden" name="mauticform[formName]" id="mauticform_mauticworkgroupleadershipnomination_name" value="mauticworkgroupleadershipnomination"/>

        </form>
</div>

                
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://m.mautic.org/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://m.mautic.org';
        var MauticLang   = {
            'submittingMessage': "Please wait..."
        }
    }
</script>
{% endput %}