[viewBag]
==
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{% partial "forum_channel_usergroup/title" %}
			</div>
			<div class="table-responsive">
				<table class="table card-table table-striped table-vcenter">
					<thead>
					<tr>
						<th>Topic</th>
						<th>Replies</th>
						<th>Views</th>
					</tr>
					</thead>
					<tbody>
					{% for topic in topics %}
						<tr class="forum-topic">
							<td>
							    <div class="topic-indicator {{ topic.hasNew ? 'has-new' }}"></div>
								<h5>
									{% if topic.is_sticky %}<strong>Sticky:</strong>{% endif %}
									{% if topic.is_locked %}<i class="icon icon-lock"></i> <strong>Locked:</strong>{% endif %}
									{# @todo: should usergroup topics link to a layout with the same group sidebar, etc? #}
									<a href="{{ 'mauticamps/mauticamp-topic'|page({groupslug:group.slug, topicslug:topic.slug}) }}">{{ topic.subject }}</a>
									<div class="pt-2 text-muted">
									    <small>Last modified by <a href="{{ topic.last_post_member.url }}">{{ topic.last_post_member.username }}</a> &middot; {% partial "forum_channel_usergroup/timestamp" date=topic.last_post_at %}</small>
								    </div>
								</h5>
							</td>
							<td class="counter-column text-center">
								<p>{{ (topic.count_posts-1) }}</p>
							</td>
							<td class="counter-column text-center">
								<p>{{ topic.count_views }}</p>
							</td>
						</tr>
					{% endfor %}
					{% if not topics|length %}
						<tr>
							<td colspan="100">There are no topics in this channel.</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>