==
{% set paginationEnabled =
	topics.currentPage > 1 or
	topics.lastPage > 1 or
	topics.lastPage > topics.currentPage
%}

<div class="row forum-pagination {{ paginationEnabled ? "enabled" : "disabled" }}">
    <div class="col-md-8">
        {% partial "forum_channel_main/pagination-list" records=topics %}
    </div>
    <div class="col-md-4 text-right posts-total-summary">
        <p class="btn btn-pill disabled btn-secondary btn-sm">{{ topics.firstItem }}-{{ topics.lastItem }} of {{ topics.total }}</p>
    </div>
</div>