==
...
<div class="row pb-2">
    <div class="col-md-6">
    	{{ form_open({ method: 'get' }) }}
    	<div class="search-box">
    		<input type="text" name="search" class="form-control" placeholder="{{'Search topics'|_}}" value="{{ input('search')|e }}">
    	</div>
    	{{ form_close() }}
    </div>
</div>
