description = "Forum Layout. Full-width content, with page header"

[session]
security = "all"

[votable]

[breadcrumbs component_breadcrumbs]
main-ol-class = "breadcrumb bg-transparent pl-0"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"
==
<!doctype html>
<html lang="en" dir="ltr">
<head>
	{% component 'session' %}
	{% partial 'site/assets-common' %}
	{% partial 'site/site-meta-common' %}
</head>
<body class="">
<div class="page">
	<div class="page-main">
		{% partial 'site/header' %}
		<div class="my-3 my-md-5">
			<div class="container">
			    <div class="small">
			        {% component 'component_breadcrumbs' %}
			    </div>
				<div class="page-header">
				    <h1 id='channel-title' class="m-0">{{ this.page.title|_ }}</h1>
				</div>
				<div class="row">
					<div class="col-lg-12 mb-4">
						{% page %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% partial 'site/footer' %}
</div>

{% partial 'site/assets-common-bottom' %}

</body>
</html>