description = "Right Sidebar, 9|3 layout with conditional layout."

[session]
security = "all"

[votable]

[breadcrumbs component_breadcrumbs]
main-ol-class = "breadcrumb  bg-transparent pl-0"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"
==
<!doctype html>
<html lang="en" dir="ltr">
<head>
	{% component 'session' %}
	{% partial 'site/assets-common' %}
	{% partial 'site/site-meta-common' %}
</head>
<body class="">
<div class="page">
	<div class="page-main">
		{% partial 'site/header' %}
		<div class="my-3 my-md-5">
			<div class="container">
				{% if placeholder('pageBanner') %}
					<div class="page-header">
						<h1 class="page-title">
							{% placeholder pageBanner %}
						</h1>
					</div>
				{% endif %}
				<div class="small">
				    {% component 'component_breadcrumbs' %}
				</div>
				<div class="row">
					<div class="col-lg-9">
						{% page %}
					</div>
					<div class="col-lg-3">
						{% placeholder sidebar_slots %}
						{% placeholder sidebarTop %}
						{% placeholder sidebar %}
						{% placeholder sidebarBottom %}
					</div>
				</div>
				{% if placeholder('after') %} {% placeholder after %} {% endif %}
			</div>
		</div>
	</div>
	{% partial 'site/footer' %}
</div>

{% partial 'site/assets-common-bottom' %}
</body>
</html>
