title = "Join the Mautic Community"
url = "/"
layout = "blank"
meta_title = "Community"
meta_description = "Community"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
crumb_title = "Community"
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[de] = "/join-mautic-community"
localeUrl[fr] = "/join-mautic-community"
localeUrl[pgl] = "/join-mautic-community"

[recentForumTopics]
count = 5

[blogPosts recentHelpPosts]
pageNumber = "{{ :page }}"
categoryFilter = "help-center"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog-component-category"
postPage = "blog/blog-component-category"

[downloadListing mixins]

[usergroups groups]

[userProfiles]
==
{#{% content 'pages/community.md' %}#}

<div class="page-title py-5">
	<h1 class="h1 text-center">{{ 'How can we help you today?'|_ }}</h1>
</div>

{# row: CTA #}
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-status bg-brand-purple"></div>
			<div class="card-body text-center">
				<h3 class="card-title">{{ 'Find Answers'|_ }}</h3>
				<p>{{ 'Just getting started or stumble across a problem?<br/>Start here in your search for a solution'|_ }}.</p>
				<p><a href="{{ 'forum/home'|page() }}" class="btn btn-brand-purple btn-lg" data-test="forum-button">
						<icon class="fe fe-search"></icon>
						{{ 'Find Answers'|_ }}</a></p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-status bg-brand-purple"></div>
			<div class="card-body text-center">
				<h3 class="card-title">{{ 'Product Updates'|_ }}</h3>
				<p>{{ 'Interested in what has been released lately?<br/>Review updates to Mautic here'|_ }}.</p>
				<p><a href="{{ 'forum/channel'|page( {channelslug:'announcements'} ) }}" class="btn btn-brand-purple btn-lg">
						<icon class="fe fe-rss"></icon>
						{{ "What's New"|_ }}</a></p>
			</div>
		</div>
	</div>
</div>

{# row: mini-cards #}
<div class="row row-cards">
	<div class="col-sm-6 col-lg-3">
		<div class="card p-3">
			<div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-dark mr-3">
              <i class="fe fe-users"></i>
            </span>
				<div>
					<h4 class="m-0">
						<a href="{{ 'mauticians/profile-list'|page() }}" class="card-link">{{ userProfiles.count }}
							<small>Mauticians</small>
						</a>
					</h4>
					<small class="text-muted">{{ userProfiles.recent(24) }} {{ 'recently active'|_ }}</small>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<div class="card p-3">
			<div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-dark mr-3">
              <i class="fe fe-headphones"></i>
            </span>
				<div>
					{% set totalTranslations = 0 %}
					{% for group in groups if group.group_type == 'translation' %}
						{% set totalTranslations = totalTranslations + 1 %}
					{% endfor %}
					<h4 class="m-0"><a href="{{ 'translations/translation-list'|page() }}" class="card-link">{{ totalTranslations }}
							<small>Translations</small>
						</a></h4>
					<small class="text-muted">{{ totalTranslations }} {{ 'fully translated'|_ }}</small>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-lg-3">
		<div class="card p-3">
			<div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-dark mr-3">
              <i class="fe fe-triangle"></i>
            </span>
				<div>
					{% set totalMauticamps = 0 %}
					{% for group in groups if group.group_type == 'mauticamp' %}
						{% set totalMauticamps = totalMauticamps + 1 %}
					{% endfor %}
					<h4 class="m-0">
						<a href="{{ 'mauticamps/mauticamp-list'|page() }}" class="card-link">{{ totalMauticamps }}
							<small>Mauticamps</small>
						</a>
					</h4>
					<small class="text-muted">1 {{ 'meeting this month'|_ }}</small>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-lg-3">
		<div class="card p-3">
			<div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-dark mr-3">
              <i class="fe fe-shopping-bag"></i>
            </span>
				<div>
					<h4 class="m-0">
						<a href="{{ 'marketplace/listing'|page }}" class="card-link">{{ downloads|length }}
							<small>Mixins</small>
						</a>
					</h4>
					<small class="text-muted">300 {{ 'downloads today'|_ }}</small>
				</div>
			</div>
		</div>
	</div>
</div>

{# row: teasers #}
{% set subjectTrimLength = 25 %}
<div class="row">
	<div class="col">
		<div class="card">
			<div class='card-body'>
				<div class="row">

					{# card: recent discussions #}
					<div class="col">
						<div class="card">
							<div class="card-header">
								<div class="card-options">
									<a href="{{ 'forum/home'|page() }}" class="btn btn-secondary btn-sm">{{ 'View all'|_ }}</a>
								</div>
								<h4 class="card-title">{{ 'Latest Discussions'|_ }}</h4>
							</div>
							<table class="table card-table">
								<tbody>
								{% for topic in recentForumTopics.topics %}
									<tr>
										<td width="1"><i class="fe fe-bookmark text-muted"></i></td>
										<td>
											<a href="{{ 'forum/topic'|page({slug:topic.slug}) }}" title="{{ topic.subject|raw }}">
												{{ topic.subject|raw|truncate(subjectTrimLength) }}
											</a>
										</td>
										<td class="text-right"><span class="text-muted">{{ topic.posts|length }} {{ 'replies'|_ }}</span></td>
									</tr>

								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					{# card: recent help topics #}
					<div class="col">
						<div class="card">
							<div class="card-header">
								<div class="card-options">
									<a href="{{ 'help/help-featured'|page() }}" class="btn btn-secondary btn-sm">{{ 'View all'|_ }}</a>
								</div>
								<h4 class="card-title">{{ 'Popular Help Topics'|_ }}</h4>
							</div>
							<table class="table card-table">
								<tbody>
								{% for post in recentHelpPosts.posts %}
									<tr>
										<td><a href="{{ 'help/help-post'|page({slug:post.slug}) }}" title="{{ post.title|raw }}">
												{{ post.title|raw|truncate(subjectTrimLength) }}</a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">{{ 'About the Mautic Community'|_ }}</h4>
							</div>
							<table class="table card-table">
								<tbody>
								<tr>
									<td width="1"><i class="fe fe-book-open text-muted"></i></td>
									<td><a href="{{ 'content/about'|page() }}">{{ 'Organization'|_ }}</a></td>
									<td class="text-right"><span class="text-muted">Tax Status 501(c)3</span></td>
								</tr>
								<tr>
									<td><i class="fe fe-navigation text-muted"></i></td>
									<td><a href="{{ 'content/leadership'|page() }}">{{ 'Leadership'|_ }}</a></td>
									<td class="text-right"><span class="text-muted">{{ 'Who does what'|_ }}</span></td>
								</tr>
								<tr>
									<td><i class="fe fe-check-circle text-muted"></i></td>
									<td><a href="{{ 'working-groups/group-list'|page() }}">{{ 'Working Groups'|_ }}</a></td>
									<td class="text-right"><span class="text-muted">{{ 'Volunteers'|_ }}</span></td>
								</tr>
								<tr>
									<td><i class="fe fe-clock text-muted"></i></td>
									<td><a href="{{ 'content/about'|page }}">{{ 'History'|_ }}</a></td>
									<td class="text-right"><span class="text-muted">{{ 'How it began'|_ }}</span></td>
								</tr>
								<tr>
									<td><i class="fe fe-user text-muted"></i></td>
									<td><a href="http://dbhurley.com" target="_blank">{{ 'Founder'|_ }}</td>
									<td class="text-right"><span class="text-muted">DB Hurley</span></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			{% partial 'navigation/footer_list_social' %}
		</div>
	</div>
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			{% partial 'navigation/footer_list_howtos' %}
		</div>
	</div>
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			{% partial 'navigation/footer_list_most-active' %}
		</div>
	</div>
	<div class="col">
		<div class="list-group list-group-transparent mb-0">
			{% partial 'navigation/footer_list_legal' %}
		</div>
	</div>
</div>
