[viewBag]
==
{% import 'macros/user' as usermacros %}
{# navigation #}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Navigation</h3>
	</div>
	<div class="card-body p-0">
		<div class="list-group list-group-transparent mb-0">
			<a href="{{ 'mauticamps/mauticamp-single'|page({groupslug:group.slug}) }}" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-home"></i></span>Home
			</a>
			<a href="{{ 'mauticamps/mauticamp-forum'|page({groupslug:group.slug}) }}" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-at-sign"></i></span>Group Posts
			</a>
			<a href="{{ 'mauticamps/mauticamp-members'|page({groupslug:group.slug}) }}" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-users"></i></span>Mauticians
			</a>
		</div>
	</div>
</div>
{# moderators #}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Admins and Moderators</h3>
	</div>
	<div class="card-body">
		<div class="avatar-list avatar-list">
			{% if group.administrators|length %}
				{% for priv in group.administrators %}
					<a href="{{ 'mauticians/profile-single'|page({user: priv.username}) }}" class="p-1">
						{{ usermacros.getDisplayAvatar(priv, "", 32) }}
					</a>
				{% endfor %}
			{% endif %}
			{% if group.moderators|length %}
				{% for priv in group.moderators %}
					<a href="{{ 'mauticians/profile-single'|page({user: priv.username}) }}" class="p-1">
						{{ usermacros.getDisplayAvatar(priv, "", 32) }}
					</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

{# users #}
<div class="card p-3">
	<div class="d-flex align-items-center">
    <span class="stamp stamp-md bg-brand-purple mr-3">
      <i class="fe fe-users"></i>
    </span>
		<div>
			<h4 class="m-0"><a href="{{ 'mauticamps/mauticamp-members'|page({groupslug:group.slug}) }}">{{ group.users|length }}
					<small>Mauticians</small>
				</a>
			</h4>
			<small class="text-muted">{{ group.recentUsers(24).count }} recent users</small>
		</div>
	</div>
</div>

{# topics #}
<div class="card p-3">
	<div class="d-flex align-items-center">
    <span class="stamp stamp-md bg-secondary mr-3">
      <i class="fe fe-bookmark"></i>
    </span>
		<div>
			<h4 class="m-0"><a href="{{ 'mauticamps/mauticamp-forum'|page({groupslug:group.slug}) }}">{{ group.forum_channel.topics|length }}
					<small>Group Posts</small>
				</a></h4>
		</div>
	</div>
</div>

{# created  #}
<div class="card p-3">
	<div class="d-flex align-items-center">
    <span class="stamp stamp-md bg-dark mr-3">
      <i class="fe fe-clock"></i>
    </span>
		<div>
			<h4 class="m-0"><a href="javascript:void(0)">
					<small>{{ group.created_at|date('M d, Y') }}</small>
				</a></h4>
			<small class="text-muted">Mauticamp created {{ group.created_at.diffForHumans() }}</small>
		</div>
	</div>
</div>

{# 	<div class="card-header" style="background-image: url({{group.group_image.path}});"></div> #}
