[viewBag]
==
<div class="row pb-2">
	<div class="col-md-6">
		{{ form_open({ method: 'get' }) }}
		<div class="search-box">
			<input type="text" name="search" class="form-control" placeholder="Search topics" value="{{ input('search')|e }}">
		</div>
		{{ form_close() }}
	</div>
	<div class="col-md-6 text-right">
		{% if channel %}
			{% if isGuest %}
				<a href="#" class="btn btn-secondary" disabled>Log in to post a new topic</a>
			{% else %}
				<a href="{{ topicPage|page }}?channel={{ channel.id }}" class="btn btn-brand-purple" data-test="newtopicbutton">
					Ask a question
				</a>
			{% endif %}
		{% endif %}
	</div>
</div>
