[viewBag]
==
<div class="row">
	<div class="col-12">
	    {% partial "forum_channel_main/title" %}
		<div class="card">
			<div class="table-responsive">
				<table class="table card-table table-vcenter">
					<thead>
					<tr>
						<th>Posts</th>
						<th class="text-center">Replies</th>
						<th class="text-center">Views</th>
					</tr>
					</thead>
					<tbody>
					{% for topic in topics %}
						<tr class="forum-topic">
							<td>
							    <div class="topic-indicator {{ topic.hasNew ? 'has-new' }}"></div>
								<h5>
									{% if topic.is_sticky %}<strong>Sticky:</strong>{% endif %}
									{% if topic.is_locked %}<i class="icon icon-lock"></i> <strong>Locked:</strong>{% endif %}
									<a href="{{ topic.url }}" class='card-link'>{{ topic.subject }}</a>
									<div class="pt-2 text-muted">
									    <small>Last modified by <a href="{{ 'mauticians/profile-single'|page({user:topic.last_post_member.user.username}) }}" class="card-link text-brand-purple">{{ topic.last_post_member.user.username }}</a> <span class="font-weight-bold px-1">&middot;</span> {% partial "forum_channel_usergroup/timestamp" date=topic.last_post_at %}</small>
								    </div>
								</h5>
							</td>
							<td class="counter-column text-center">
								<p>{{ (topic.count_posts-1) }}</p>
							</td>
							<td class="counter-column text-center">
								<p>{{ topic.count_views }}</p>
							</td>
						</tr>
					{% endfor %}
					{% if not topics|length %}
						<tr>
							<td colspan="100">There are no topics in this channel.</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
